registry=http://14.63.196.211:18081/repository/npm-public/
always-auth=true
//14.63.196.211:18081/repository/npm-public/:_auth=ZGV2cHJvOm5ldzEyMzQh
//14.63.196.211:18081/repository/npm-private/:_auth=ZGV2cHJvOm5ldzEyMzQh