// https://github.com/element-plus/element-plus/blob/dev/packages/theme-chalk/src/common/var.scss
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  // do not use same name, it will override.
  $colors:
    (
      'primary': (
        'base': #2bb7b3
      ),
      'success': (
        'base': #67c23a
      ),
      'warning': (
        'base': #e6a23c
      ),
      'danger': (
        'base': #f56c6c
      ),
      'error': (
        'base': #f56c6c
      ),
      'info': (
        'base': #4c545e, //#909399
      ),
    ),
  $fill-color: (
    '': #f0f2f5,
    'light': #f8f8f8, //#f5f7fa
    'lighter': #fafafa,
    'extra-light': #fafcff,
    'dark': #ebedf0,
    'darker': #e6e8eb,
    'blank': #ffffff
  ),
  $border-color: (
    '': #dcdfe6,
    'light': #e1e2e4, //e4e7ed
    'lighter': #ebeef5,
    'extra-light': #f2f6fc,
    'dark': #d4d7de,
    'darker': #cdd0d6
  ),
  $common-component-size: (
    'large': 36px, 
    'default': 32px, 
    'small': 26px
  ),
  $button: (
    'border-color': var(--el-color-info-light-5),
  ),
  $button-padding-horizontal: (
    'large': 13px, 
    'default': 10px, 
    'small': 8px
  ),
  $checkbox: (
    'input-height': 16px, 
    'input-width': 16px,
    'checked-text-color': var(--el-text-color-regular),
  ),
  $radio: (
    'input-height': 16px, 
    'input-width': 16px
  ),
  $radio-checked: (
    'text-color': var(--el-text-color-regular),
    'icon-color': var(--el-color-white)
  ),
  $table: (
    'border-color': var(--el-border-color-light),
    'header-text-color': var(--el-text-color-primary),
    'header-bg-color': var(--el-fill-color),
  ),
  $tabs: (
    'header-height': 40px,
  ),
  $menu: (
    'base-level-padding': 32px,
    // 'bg-color': var(--el-color-info-dark-2),
  ),
  $dialog: (
    'title-font-size': var(--el-font-size-extra-large), 
    'padding-primary': 24px
  )
);
@use 'element-plus/theme-chalk/src/index.scss' as *;

// size 
[class*=--xlarge] {
  min-width: 50px;
  height: 48px;
  font-size: 16px;
}
//icon
.el-icon {
  font-size: 16px;
  box-sizing: content-box;
}
// button
.el-button--large {
  min-width: 66px;
}
.el-button + .el-button {
  margin-left: 6px;
}
.el-button.is-plain {
  --el-button-hover-text-color: var(--el-button-text-color);
  --el-button-hover-bg-color: var(--el-button-bg-color);
  --el-button-hover-border-color: var(--el-button-text-color);
  --el-button-active-text-color: var(--el-button-hover-text-color);
  --el-button-active-bg-color: var(--el-button-bg-color);
  --el-button-active-border-color: var(--el-button-hover-text-color);
}
// input
.el-input:not(.el-input--suffix) .el-input__wrapper:has(input[readonly]), .el-textarea__inner[readonly] {
  background-color: var(--el-disabled-bg-color);
}

// checkbox
.el-checkbox__inner::after {
  width: 5px;
  height: 8px;
}
.el-checkbox__inner::before {
  top: 6px;
}
.el-checkbox.el-checkbox--large .el-checkbox__inner {
  width: 16px;
  height: 16px;
}
// radio
.el-radio__inner::after {
  width: 10px;
  height: 10px;
  background-color: var(--el-color-primary);
}
// select-dropdown
.el-select-dropdown__empty {
  --el-select-font-size: 1rem;
}
// file
.form-file {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .txt-caution {
    margin-left: 8px;
  }
  .el-upload-list {
    margin-top: 0;
    flex: 0 0 100%;
  }
  .el-upload-list__item {
    margin: 6px 0 0 0;
    background-color: var(--el-fill-color-light);
  }
  .el-upload-list__item-name {
    padding: 4px 2px;
  }
  .el-upload-list__item .el-icon--close {
    display: inline-flex;
  }
  .el-upload-list__item.is-success .el-upload-list__item-status-label {
    display: inline-flex !important;
    opacity: 1 !important;
    right: 25px;
  }
}

// form
.el-form {
  .el-input:not(.el-input--suffix) {
    width: 160px;
  }
  .el-select {
    width: 160px;
  }
  .el-range-editor.el-input__wrapper {
    max-width: 350px;
  }
}
.el-form-item__label {
  color: var(--el-text-color-primary);
  font-weight: 500;
}
// table
.el-table .sort-caret.ascending {
  border-bottom-color: var(--el-text-color-disabled);
}
.el-table .ascending .sort-caret.ascending {
  border-bottom-color: var(--el-text-color-primary);
}
.el-table .descending.descending {
  border-top-color: var(--el-text-color-disabled);
}
.el-table .descending .sort-caret.descending {
  border-top-color: var(--el-text-color-primary);
}
.el-table th.el-table__cell > .cell {
  position: relative;
  .caret-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -7px;
  }
}
.el-table .el-table__cell:first-child .el-radio {
  width: auto;
  height: unset;
  .el-radio__label {
    display: none;
  }
}
.el-table__body tr.current-row > td.el-table__cell {
  background-color: var(--el-table-current-row-bg-color) !important;
}
.el-table--border .el-table__inner-wrapper::after {
  background-color: var(--el-color-primary);
}
// pagination
.el-pagination {
  position: relative;
  margin-top: 16px;
  justify-content: center;
}
.el-pagination__sizes {
  position: absolute;
  left: 0;
}
// tabs
.el-tabs--card > .el-tabs__header {
  height: auto;
  margin-bottom: 25px;
  .el-tabs__nav {
    overflow: hidden;
  }
  .el-tabs__item {
    border-bottom: 1px solid var(--el-border-color-light);
    background-color: var(--el-fill-color-light);
  }
  .el-tabs__item.is-active {
    font-weight: 600;
    background-color: var(--el-color-white);
  }
}
.el-tabs__content {
  .el-tab-pane>:first-child {
    margin-top: 0;
  }
}
// dialog
.el-overlay-dialog {
  padding: 60px 0;
}
.el-dialog {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 40px 0px rgba(0,0,0,.12);
}
.el-dialog__header {
  margin-right: 0;
  padding: 18px 24px 14px;
  border-bottom: 1px solid var(--el-border-color-light);
}
.el-dialog__body {
  padding: var(--el-dialog-padding-primary);
  overflow-y: auto;
  &>:first-child {
    margin-top: 0 !important;
  }
  .title-area {
    margin-top: 16px;
  }
}
// message box
.el-message-box__btns button:nth-child(2) {
  margin-left: 6px;
}
// el-popup-parent--hidden
.el-popup-parent--hidden {
  width: 100% !important;
}